.html {
  color: orange;
}

.css {
  color: blue;
}

.javascript {
  color: yellow;
}

.react {
  color: cyan;
}

.bootstrap {
  color: purple;
}

.sass {
  color: pink;
}

.git {
  color: orange;
}

.github {
  color: white;
}
