* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
span {
  color: #7b68ee;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  color: #ffffff;
}
