.principal {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 40px;
}
.principal-texto {
  margin-top: 200px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  /* background-color: beige; */
}
.principal .caixa i {
  font-size: 80px;
}

@media (max-width: 600px) {
  .principal .principal-texto {
    grid-template-columns: 1fr;
  }

  /* .principal .principal-texto .caixa h3 {
    font-size: 18px;
  } */
}

@media (max-width: 800px) {
  .principal .principal-texto h3 {
    font-size: 26px;
  }
  .principal h3::before {
    display: none;
  }
}
