.projetos {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projeto {
  width: 48%;
  padding: 40px;
  margin-bottom: 30px;
}

.projeto img {
  width: 100%;
  border-radius: 8px;
}

.projeto h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.projeto p {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.4;
  color: gray;
}
.projeto .tecnologias {
  color: #7b68ea;
}

.projeto a {
  display: inline-block;
  margin: 20px 20px 0 0;
  padding: 10px 20px;
  color: #cccccc;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #8a2be2;
  background-color: #7b68ee;
}

.projeto a:hover {
  background-color: #7b68ee;
  color: #fff;
}

@media (max-width: 600px) {
  .projeto {
    width: 100%;
    padding: 40px;
  }
  .projeto a {
    padding: 10px 16px;
  }
}

@media (max-width: 800px) {
  .projeto {
    width: 100%;
  }
}
