* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  color: #ffffff;
  height: 400vh;
}

img {
  max-width: 300px;
  border-radius: 8px;
  margin-top: 40px;
  display: block;
}

.header .logo {
  font-size: 28px;
}

.header .logo:hover {
  color: #c0c0a6;
  cursor: pointer;
}

.header .container-header a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.header .container-header .redes a {
  font-size: 24px;
}
.header .container-header .redes a:hover {
  color: #c0c0a6;
  cursor: pointer;
}

.header .container-header {
  max-width: 1200px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header .logo {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .header .container-header {
    display: flex;
    flex-wrap: wrap;
  }
  .redes {
    margin: 20px auto;
  }
  .header .redes a i {
    font-size: 40px;
    margin: 10px;
  }
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */

.introducao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 60px;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
}
.introducao::after {
  content: " ";
  position: absolute;
  width: 1200px;
  margin: 80px auto 0px auto;
  height: 1px;
  background-color: #696969;
}

.introducao .container-introducao {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.introducao .container-texto {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.introducao .texto-introducao {
  font-size: 28px;
  max-width: 800px;
  color: gray;
}

.introducao .btn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  width: 200px;
  padding: 10px 15px;
  border: 2px solid #fff;
}

.introducao .btn:hover {
  background-color: #fff;
  color: #151515;
}

.introducao .titulo-introducao {
  font-size: 60px;

  max-width: 600px;
  margin-top: 60px;
}

@media (max-width: 600px) {
  .introducao .titulo-introducao {
    margin-top: -60px;
    text-align: center;
    font-size: 42px;
  }

  .introducao .texto-introducao {
    text-align: center;
    font-size: 22px;
  }
  .introducao .btn {
    margin: 0 auto;
  }
  .introducao .perfil img {
    width: 200px;
  }
  .introducao .perfil {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .introducao .perfil img {
    width: 250px;
  }
  .container-texto {
    text-align: center;
    margin: 0 auto;
  }
  .introducao .btn {
    margin: 0 auto;
  }
  .introducao .perfil {
    margin: 0 auto;
  }
}

/* @media (max-width: 1000px) */

@media (max-width: 1200px) {
  .introducao .texto-introducao {
    max-width: 500px;
  }
  .introducao .titulo-introducao {
    font-size: 48px;
  }
  .introducao .texto-introducao {
    font-size: 22px;
  }
  .introducao::after {
    display: none;
  }
}

/* --------------------------------------------- */

.principal {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 40px;
}
.principal-texto {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.principal .caixa {
  width: 340px;
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 200px;

  /* background-color: #ccc; */
}

.principal .caixa h3 {
  font-size: 38px;
}
.principal h3 {
  position: relative;
}

.principal h3::before {
  content: "";
  position: absolute;
  width: 6px;
  bottom: 24px;
  left: -20px;
  height: 6px;

  background-color: blueviolet;
}

.principal .caixa p {
  font-size: 16px;
  /* border-bottom: 1px solid #d9d9d9; */
  color: #d9d9d9;
}

@media (max-width: 600px) {
  .principal {
    margin-top: -100px;
  }

  .principal-texto .caixa h3 {
    font-size: 32px;
  }
  .principal .principal-texto .caixa {
    width: 100%;
    height: 100px;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .principal .principal-texto .caixa {
    width: 100%;
    height: 100px;
    padding: 30px;
  }
}

@media (max-width: 1200px) {
  .principal .caixa {
    width: 300px;
  }
  .principal {
    margin-top: -60px;
  }
  .principal .principal-texto h3 {
    font-size: 28px;
  }
  .principal .principal-texto .caixa {
    height: 100px;
    padding: 10px;
    /* background-color: #696969; */
  }
  .principal h3::before {
    top: 15px;
  }

  .principal-texto {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
}

/* ---------------------------------------------------- */

.projetos {
  max-width: 1200px;
  display: flex;
  margin: 60px auto 0 auto;
}
.projetos-container {
  flex-wrap: wrap;
}
.projetos-container h1 {
  display: block;
  font-size: 48px;
  margin: 0 0 40px 30px;
}

.projetos-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.projetos-itens .item {
  width: 320px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  /* background-color: #696969; */
}

.item-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: start;
}
