* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  color: #ffffff;
}

img {
  max-width: 300px;
  border-radius: 50%;
  margin-top: 40px;
  display: block;
}

.header .logo {
  font-size: 28px;
}

.header .logo:hover {
  color: #c0c0a6;
  cursor: pointer;
}

.header .container-header a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.header .container-header .redes a {
  font-size: 24px;
}
.header .container-header .redes a:hover {
  color: #c0c0a6;
  cursor: pointer;
}

.header .container-header {
  max-width: 1200px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header .logo {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .header .container-header {
    display: flex;
    flex-wrap: wrap;
  }
  .redes {
    margin: 20px auto;
  }
  .header .redes a i {
    font-size: 40px;
    margin: 10px;
  }
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */

.introducao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 60px;
  font-family: "Space Grotesk", sans-serif;
}

.introducao .container-introducao {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.introducao .container-texto {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.introducao .texto-introducao {
  font-size: 28px;
  max-width: 800px;
  color: #cccccc;
}

.introducao .btn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  width: 200px;
  padding: 10px 15px;
  border: 2px solid #fff;
}

.introducao .btn:hover {
  background-color: #fff;
  color: #151515;
}

.introducao .titulo-introducao {
  font-size: 60px;
  font-family: "Space Grotesk", sans-serif;
  max-width: 600px;
  margin-top: 60px;
}

@media (max-width: 600px) {
  .introducao .titulo-introducao {
    margin-top: -60px;
    text-align: center;
    font-size: 42px;
  }

  .introducao .texto-introducao {
    text-align: center;
    font-size: 22px;
  }
  .introducao .btn {
    margin: 0 auto;
  }
  .introducao .perfil img {
    width: 200px;
  }
  .introducao .perfil {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .introducao .perfil img {
    width: 250px;
  }
  .container-texto {
    text-align: center;
    margin: 0 auto;
  }
  .introducao .btn {
    margin: 0 auto;
  }
  .introducao .perfil {
    margin: 0 auto;
  }
}

/* @media (max-width: 1000px) */

@media (max-width: 1200px) {
  .introducao .texto-introducao {
    max-width: 500px;
  }
  .introducao .titulo-introducao {
    font-size: 48px;
  }
  .introducao .texto-introducao {
    font-size: 22px;
  }
}
